.board {
  display: flex;
  margin: auto;
  @media screen and (min-width: 1024px) {
    height: 600px;
    width: 564px;
  }

  .boxes {
    display: flex;
    background-color: #1f3540;
    border: 4px solid #0f1b21;
    border-radius: 12px;
    cursor: pointer;
    padding: 30px;
    width: 100px;
    height: 100px;

    @media screen and (min-width: 1024px) {
      padding: 50px;
      height: 180px;
      width: 180px;
    }
  }
}
